<img class="blackSvg hangmanImg hangmanImgPosition" alt="hangmanImg" id="hangmanImg" src="https://raw.githubusercontent.com/forLeo/hangman/gh-pages/assets/GUESS_0.svg">
    <div class="wordSearched wordSearchedPosition" id="wordSearched"></div>

    <div class="divTable divTablePosition">
        <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell" id="1" (click)="letterClicked($event)">A</div>
            <div class="divTableCell" id="2" (click)="letterClicked($event)">B</div>
            <div class="divTableCell" id="3" (click)="letterClicked($event)">C</div>
            <div class="divTableCell" id="4" (click)="letterClicked($event)">D</div>
            <div class="divTableCell" id="5" (click)="letterClicked($event)">E</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" id="6" (click)="letterClicked($event)">F</div>
            <div class="divTableCell" id="7" (click)="letterClicked($event)">G</div>
            <div class="divTableCell" id="8" (click)="letterClicked($event)">H</div>
            <div class="divTableCell" id="9" (click)="letterClicked($event)">I</div>
            <div class="divTableCell" id="10" (click)="letterClicked($event)">J</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" id="11" (click)="letterClicked($event)">K</div>
            <div class="divTableCell" id="12" (click)="letterClicked($event)">L</div>
            <div class="divTableCell" id="13" (click)="letterClicked($event)">M</div>
            <div class="divTableCell" id="14" (click)="letterClicked($event)">N</div>
            <div class="divTableCell" id="15" (click)="letterClicked($event)">O</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" id="16" (click)="letterClicked($event)">P</div>
            <div class="divTableCell" id="17" (click)="letterClicked($event)">Q</div>
            <div class="divTableCell" id="18" (click)="letterClicked($event)">R</div>
            <div class="divTableCell" id="19" (click)="letterClicked($event)">S</div>
            <div class="divTableCell" id="20" (click)="letterClicked($event)">T</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" id="21" (click)="letterClicked($event)">U</div>
            <div class="divTableCell" id="22" (click)="letterClicked($event)">V</div>
            <div class="divTableCell" id="23" (click)="letterClicked($event)">W</div>
            <div class="divTableCell" id="24" (click)="letterClicked($event)">X</div>
            <div class="divTableCell" id="25" (click)="letterClicked($event)">Y</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" id="26" (click)="letterClicked($event)">Z</div>
        </div>
        </div>
    </div>