@import "../scss/variables.scss";

.theme {
    flex-shrink: 0;
    color: red;
    position: absolute;
    right: 25px;
    height: 30px;
    width: 30px;
}

.game {
    display: inline-block;
    position: absolute;
    top: 8vh;
    left: 17.5vw;
  }  