<header>
    <h1>{{title}}</h1>
    <img class="blackSvg theme" alt="change theme" src="../assets/moon.svg">
</header>
<div class="game" id="game">
    <img class="blackSvg hangmanImg hangmanImgPosition" alt="hangmanImg" src="../assets/GUESS_10.svg">
    <div class="wordSearched wordSearchedPosition" id="wordSearched"><p>A</p><p>P</p><p>F</p><p>E</p><p>L</p></div>

    <div class="divTable divTablePosition">
        <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">A</div>
            <div class="divTableCell">B</div>
            <div class="divTableCell">C</div>
            <div class="divTableCell">D</div>
            <div class="divTableCell">E</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">F</div>
            <div class="divTableCell">G</div>
            <div class="divTableCell">H</div>
            <div class="divTableCell">I</div>
            <div class="divTableCell">J</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">K</div>
            <div class="divTableCell">L</div>
            <div class="divTableCell">M</div>
            <div class="divTableCell">N</div>
            <div class="divTableCell">O</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">P</div>
            <div class="divTableCell">Q</div>
            <div class="divTableCell">R</div>
            <div class="divTableCell">S</div>
            <div class="divTableCell">T</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">U</div>
            <div class="divTableCell">V</div>
            <div class="divTableCell">W</div>
            <div class="divTableCell">X</div>
            <div class="divTableCell">Y</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">Z</div>
        </div>
        </div>
    </div>
</div>